# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Dataset
ESC-50/

# Temporary / live recordings
live_audio.wav

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

test_audio/